<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 指定日志厂商为LOG4J -->
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<package name="domain" />
	</typeAliases>

</configuration>
