<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- IOC --><!-- 控制器的扫描由springmvc来完成，其他组件扫描由spring完成 -->
	<context:component-scan base-package="controller"></context:component-scan>


	<!-- Springmvc注解驱动:会创建RequestMappingHandlerMapping和RequestMappingHandlerAdapter对像 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- 拦截器 -->
	<!-- <mvc:interceptors> <mvc:interceptor> <mvc:mapping path="/**" /> <mvc:exclude-mapping 
		path="/static/**" /> <mvc:exclude-mapping path="/user/doLogin"/> <mvc:exclude-mapping 
		path="/user/loginCheck.do"/> <mvc:exclude-mapping path="/user2/**"/> <bean 
		class="controller.InterceptorLogin"></bean> </mvc:interceptor> </mvc:interceptors> -->

	<!-- ViewResolver视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- restful的distoryServlet设置后对静态文件的访问支持 -->
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/imgs/" mapping="/imgs/**"></mvc:resources>
	
	<!-- 文件上传 -->
	<!-- 注意：该bean的名字必须为multipartResolver，否则会导致上传失败 -->
	<!--  <bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<property name="maxUploadSize" value="9437185"></property> <property name="defaultEncoding" 
		value="UTF-8"></property> </bean>  -->
	
	
		
</beans>








