<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
	
	<!-- 查询用户数 -->
	<select id="selectCountUser" resultType="java.lang.Integer" parameterType="com.alibaba.fastjson.JSONObject">
		SELECT COUNT(*) FROM
		z_user <if test="search!=''">
		 WHERE username LIKE CONCAT('%', #{search}, '%')
		</if>
	</select>
	
	<!-- 分页查询  查询每页的用户-->
	<select id="selectPageUser" resultType="User" parameterType="com.alibaba.fastjson.JSONObject">
		select id,username,nickname,email,phone,address,state from z_user <if test="search!=''">
		 WHERE username LIKE CONCAT('%', #{search}, '%')
		</if>
		ORDER BY id desc limit #{offset},#{limit};
	</select>
	
	<!-- 根据id查询用户 -->
	<select id="selectById" resultType="User" parameterType="User">
		select id,username,nickname,email,phone,address,state from z_user where id=#{id}
	</select>
	
	<!-- 更新用户 -->
	<update id="update" parameterType="User">
		update z_user
		<set>
			<if test="username!=null and username!=''">
				username=#{username},
			</if>
			<if test="nickname!=null and nickname!=''">
				nickname=#{nickname},
			</if>
			<if test="email!=null and email!=''">
				email=#{email},
			</if>
			<if test="phone!=null and phone!=''">
				phone=#{phone},
			</if>
			<if test="address!=null and address!=''">
				address=#{address},
			</if>
			<if test="2>1">
				state=#{state},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<!-- 添加用户 -->
	<insert id="insert" parameterType="User">
		insert into
		z_user(username,nickname,email,phone,address,state)
		values(#{username},#{nickname},#{email},#{phone},#{address},#{state})
	</insert>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="User">
	delete from z_user where id=#{id}
	</delete>
	
</mapper>




